<!doctype html>
<html lang="en">
{% extends "base.html" %}
{% block title %}Products{% endblock %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>


{% block content %}
<div>
    {% if sort == 'DESC' %}
    <a style='' href="{{ url_for('products', category=category, sort='ASC') }}">
        воз

    </a>
    <a>
        убыв
    </a>
    {% else %}
    <a>
        воз
    </a>
    <a href="{{ url_for('products', category=category, sort='DESC') }}">
        убыв
    </a>

    {% endif %}
</div>

<div class="products">
    {% for p in products %}
    <div class="pictureProduct">
        <a href="/products/{{ p.product_id }}">
            <img src="/static/{{ p.picture }}">

            <p>{{ p.product_name }}</p>
            <p> {{ p.price }} RUB</p>

        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}

</html>